beautifulsoup4==4.12.0
emoji==2.2.0
gensim==4.3.1
ipython==8.11.0
keras==2.12.0
matplotlib==3.7.1
nltk==3.8.1
numpy==1.23.5
pandas==1.5.3
protobuf==4.21.12
pysentiment2==0.1.1
scikit_learn==1.0.2
scipy==1.10.1
scorecardpy==0.1.9.2
seaborn==0.12.2
statsmodels==0.13.5
tensorflow==2.12.0
torch==2.0.0
tqdm==4.65.0
transformers==4.27.4
xgboost==1.7.4
